<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <main>
        {{ sidebar }}
        <div class="documentation">
            <div id="information">
                <div class="left">
                    {{ mdx-content }}
                </div>
                <div class="right"></div>
            </div>
            {{ apis }}
        </div>
    </main>

</body>
</html>
